.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mealsLoading {
  border-radius: 10px;
  margin-left: 12.5%;
  width: 75%;
  color: black;
  text-align: center;
  background-color: white;
}

.mealsError {
  box-shadow: inset;
  margin-top: 40px;
  color: rgb(255, 46, 46);
  text-align: center;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
